* {
  margin: 0;
}

.content {
  margin: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;

  height: 100vh;
}

.content h1 {
  background: #222;
  color: white;
  padding: 10px 35px;
  font-size: 120px;
  border-radius: 55px;
  text-align: center;
  width: auto;

  margin-bottom: 55px;
}

.content button {
  color: #222;
  font-size: 50px;
  border-radius: 15px;
  padding: 10px;
}
